/* These are material design css. Changed to normal css */

.top-of-page {
  margin-top: 2rem;
}

.under-the-search-bar {
  margin-top: 5rem;
}

.boxed-result-header {
  /* margin-top:5rem; */
  float: right;
  width: 38rem;
  border: 0.1rem solid white;
  margin: 0.2rem, 0.2rem, 0.2rem, 0.2rem;
  text-align: center;
  font-family: 'Cambria';
}

.boxed-player-header {
  float: left;
  width: 27.8rem;
  border: 0.1rem solid white;
  margin: 0.2rem, 0.2rem, 0.2rem, 0.2rem;
  text-align: center;
  font-family: 'Cambria';
}

.vid-results {
  border: 0.1rem solid white;
  /* margin: 0.1rem, 0.1rem, 0.1rem, 0.1rem; */
  text-align: center;
  height: 20rem;
  width: 38rem;
  overflow: auto;
  float: right;
  /* padding-top: 10rem; */
}

/* .currently-playing-text {
  width: 100%;
} */

.now-playing-label {
  font-size: 150%;
}

/* .search-result {
  display: inline-block;
} */

.indiv-search {
  /* max-width: 30rem;
  float: right; */
  /* align-items: left; */
  /* float: right;   */
}

.in-yt-player {
  float:left;
  /* float:top; */
  /* padding-top: 10rem; */
  /* position:fixed; */
  /* right:1; */
}

/* .mdl-navigation {
  width: 10rem;
}

.mdl-layout-title {
  margin-right: 10rem 10rem 10rem 10rem;
}

.mdl-layout-title>img {
  height: 100%;
}

.mdl-layout__header {
  height: 64px;
  background-color: rgb(79, 111, 144);
}

.mdl-layout__content {
  width: 95%;
}

.mdl-layout__header-row {
  padding: 0 40px 0 16px;
}

.mdl-layout__drawer-button {
  right: 0;
  left: inherit;
}

.blur-main-playlist-opened {
  opacity: 0.4;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.mdl-js-snackbar {
  bottom: 0;
  z-index: 999;
  right: 0;
  background-color: rgba(196, 48, 43, 0.85);
}

@media () {
  .mdl-layout-title>img {
    height: 30px;
  }
}

@media () {
  .mdl-layout__content {
    width: 100%;
  }
  .yt-player,
  .ytp-cued-thumbnail-overlay {
    width: 100px;
  }
} */