.boxed-result-header {
  width: 100%;
  border-bottom: 0.1rem solid white;
  margin: 0.2rem, 0.2rem, 0.2rem, 0.2rem;
  background: black;
  text-align: center;
  font-family: 'Cambria';
}

.vid-results {
  border: 0.1rem solid white;
  text-align: center;
  height: 14rem;
  width: 100%;
  overflow: auto;
  background: linear-gradient(to right, black , darkgrey);
}

.now-playing-label {
  font-size: 150%;
}

.search-bar-container {
  width: 60%;
}

.video-player-container {
  width: 100%;
}

.vid-search {
  width: 100%;
}

.fit {
  width: 100%;
}

.vid-playlist {
  border-left: 0.1rem solid white;
  border-right: 0.1rem solid white;
  border-bottom: 0.1rem solid white;
  height: 40.5rem;
  width: 100%;
  overflow: auto;
}

.underline {
  border-top: 0.1rem solid white;
}

.shrink-fit{
  padding-left: 2%;
  padding-right: 2%;
}

#header {
  align-content: center;
}
