.full-song-info {
  width: 100%;
}

.holder {
  height: 75px;
  margin: 1rem;
  border: 1px solid white;
  background: linear-gradient(to bottom right, black , darkgrey);
}

.buttons {
  float: left;
  width: 25%;
  height: 100%;
}

.song-thumbnail {
  width: 74%;
  height: 100%;
  float: right;
  clear: right;
}

.opened-item-info {
  font-size: 100%;
  color: black;
  text-overflow: ellipsis;
  text-align: center;
  font-family: 'Cambria';
}

.playist {
  width: 100%;
  height: inherit;
  overflow: scroll;
}

.playlist-title-h1 {
  text-align: center;
  color: #131416;
  font-family: 'Cambria';
  background: linear-gradient(to bottom right, black , darkgrey);
  border-bottom: 1px solid white;
}

.btn {
  height: 100%;
  width: 48%
}

.playlist-thumbnail{
  height: 60%;
}

.no-in-playlist {
  padding-left: 2%;
  font-size: 150%;
}

.delete-from-playlist{
  float: right;
}
