<h2 class="playlist-title-h1">Playlist</h2>
<div class="playlist" [ngClass]="{'opened': playlistToggle}">
  <!--Song layout-->
  <div class="full-song-info">
    <div class="playlist-tab-list" *ngFor="let video of videoPlaylist; let i = index;" id="{{video.id}}" class="playist-item" (click)="play(video.id)" [ngClass]="{'playing': currentPlaying(video.id)}">
      <div class="holder">
        <div class="buttons">
          <button type="button" class="btn btn-success btn-sm">↑</button>
          <button type="button" class="btn btn-danger btn-sm">↓</button>
        </div>
        <div class="song-thumbnail">
          <div class="playlist-thumbnail" [ngStyle]="{'background': '#000 url(' + video.snippet.thumbnails.default.url + ') center center no-repeat', 'background-size': '100%'}">
            <span class="no-in-playlist">{{ i + 1 }}</span>
            <a><i class="material-icons delete-from-playlist" (click)="removeFromPlaylist(video)">cancel</i></a>
          </div>
          <div class="opened-item-info">{{ video.snippet.title | nowPlaying }}</div>
        </div>
      </div>
    </div>
  </div>

  <!--Song layout end-->
  <div class="playist-item-empty" *ngIf="!videoPlaylist.length">
    <div class="empty-list">
      <i class="material-icons block-icon">block</i>
      Playlist is empty
    </div>
  </div>
</div>
