<nav class="bread-crumb">
  <h1> Available Playlists </h1>
</nav>

<hr>
  <h2> TODO: Display Playlists Here</h2>
<hr>

<div>
    Bright Color for Available Playlist (Public)
  <nav>
      <button class ="btn btn-light">Playlist Name 1</button>
  </nav>

  Dark Button for Private (Need Passcode)
  <nav>
    <button class="mdc-button-dark">Private Playlist Name2</button>
  </nav>

</div>

<hr>

<form>
    <h3>
        Each button of playlist (could change to Links) will do a check of private vs Public
        if public, you will be sent to the playlist page where you can edit and listen to songs
        if private, you will be sent to a redirect page to enter passcode
    </h3>
</form>
