<br>
<header id="header">
  <div class="logo">
    <span class="icon fa-fire"></span>
  </div>
  <div class="content"></div>
</header>

<nav class="bread-crumb top-line">
  <h1>Playlists on IGNIGHTE</h1>
</nav>

<!--Use ngFor here-->
<div class="btn-group playlists">
  <h3>Public:</h3>
  <div class="spacing">
    <button class ="btn btn-light fill">Christopher's Public Playlist</button>
    <button class ="btn btn-light fill">Chi's Public Playlist</button>
    <button class ="btn btn-light fill">Lee's Public Playlist</button>
    <button class ="btn btn-light fill">Rob's Public Playlist</button>
  </div>
  <h3>Private:</h3>
  <div class="spacing">
    <button class ="btn btn-light fill">Chris' Private Playlist</button>
    <button class ="btn btn-light fill">Chi's Private Playlist</button>
    <button class ="btn btn-light fill">Lee's Private Playlist</button>
    <button class ="btn btn-light fill">Rob's Private Playlist</button>
  </div>
</div>
<hr>
<button class="home" routerLink="/home">IGNIGHTE</button>
