<div id="wrapper">

<!-- Header -->
<!-- Declare header id for nav bar effect -->
	<header id="header">
		<div class="logo">
			<span class="icon fa-fire"></span>
		</div>
		<div class="content">
			<div class="inner">
				<h1 class="company-title">IGNIGHTE </h1>
				<hr>
				<h2>Set Your Playlist on Fire</h2>
				<h3>Simple  and Sharable Playlist</h3>
			</div>
		</div>
		<!-- Because we can MAKE Playlists before we REGISTER or LOGIN, it comes first -->
		<!-- To see the playlist, you ned to be Logged in / or have passcode to it. -->
		<nav>
			<ul>
				<li><a routerLink="/video-page">Create Playlist</a></li>
				<li><a routerLink="/register">Register</a></li>								
				<li><a routerLink="/login">Log in</a></li>					
				<li><a routerLink="/view-playlist">View Playlists</a></li>													
			</ul>
		</nav>
	</header>

<!-- Footer -->
	<footer id="footer">
		<p class="copyright">&copy; <a href="#">Copyright 2017 by Ignighte Enterprise LLC</a>.</p>
	</footer>

</div>

<div id="bg"></div>
