.youtube-button{
    width: 19.5%;
}

.video-player-navbar {
  width: 100%;
}

i {
    align-content: center;
    vertical-align: middle;
}

h6 {
    margin-top:0.5rem;
}

.player-containter {
  height: 12rem;
    border: 0.1rem solid white;
    text-align: center;
    background: linear-gradient(to bottom right, black , darkgrey);
}

.boxed {
    border: 0.1rem solid white;
    margin: 0.1rem, 0.1rem, 0.1rem, 0.1rem;
    text-align: center;
}

.current-playing-text {
    text-align: center;
}
