<div class="main-player-block">
    <div class="player-controls-block">

      <!-- Youtube Player -->
      <div class="player-containter">
        <div class="main-yt-player-block">
          <div class="actual-player" id="yt-player">
          </div>
        </div>
      </div>

      <!-- Display this beneath the playlist instead -->
      <div class="current-playing-text">
          <span class="now-playing-label">Now playing : {{ currentVideoText | nowPlaying }}</span>
      </div>

      <!-- Buttons for Playlist interaction -->
      <nav class = "video-player-navbar">
          <button class="youtube-button" id="prev_tip" (click)="prevVideo()">
            <i class="material-icons">skip_previous</i>
            <h6>previous</h6>
          </button>

          <button class="youtube-button" (click)="playPause('play')" *ngIf="playingEvent === 'pause'">
            <i class="material-icons">play_circle_filled</i>
            <h6>play</h6>
          </button>

          <button class="youtube-button" (click)="playPause('pause')" *ngIf="playingEvent === 'play'">
            <i class="material-icons">pause_circle_filled</i>
            <h6>pause</h6>
          </button>

          <button class="youtube-button" id="next_tip" (click)="nextVideo()">
            <i class="material-icons">skip_next</i>
            <h6>next</h6>
          </button>

          <button class="youtube-button" id="repeat_tip" [ngClass]="{'active': repeat}"
                  (click)="toggleRepeat()">
            <i class="rpt-btn" class="material-icons">repeat_one</i>
            <h6>repeat</h6>
          </button>

          <button class="youtube-button" id="shuffle_tip" [ngClass]="{'active': shuffle}"
            (click)="toggleShuffle()">
            <i class="material-icons">shuffle</i>
            <h6>shuffle</h6>
          </button>
      </nav>
    </div>
    <button class="youtube-button-2" (click)="exportPlaylistAction()">Export Playlist</button>
    <button class="youtube-button-2" (click)="importPlaylistAction()">Import Playlist</button>
    <button class="youtube-button-2" (click)="clearPlaylistAction()">Clear Playlist</button>            

    <input id="import_button" style="display: none;" type="file" name="file" accept=".json, .txt" (change)="handleInputChange($event)">
  </div>
