<br>
<header id="header">
  <div class="logo">
    <span class="icon fa-fire"></span>
  </div>
  <div class="content"></div>
</header>
<div class="row underline">
    <div class="col col-md-5 shrink-fit">
      <!--Playlist container-->
      <div class="container float-left fit">
          <div id="playlist-tab-d" class ="vid-playlist">
            <app-video-playlist [repeat]="repeat" [shuffle]="shuffle" [playlistToggle]="playlistToggle" [playlistNames]="playlistNames" [videoPlaylist]="videoPlaylist"></app-video-playlist>
          </div>
      </div>
    </div>
    <div class="col col-md-7 shrink-fit">

      <!--Video player-->
      <div class="video-player-container">
        <div class="in-yt-player">
            <app-video-player (closePlaylist)="closePlaylist()" (importPlaylist)="importPlaylist($event)" (exportPlaylist)="exportPlaylist()" (clearPlaylist)="clearPlaylist()"
            (playFirstInPlaylist)="playFirstInPlaylist()" (repeatActive)="repeatActive($event)" (shuffleActive)="shuffleActive($event)" (nextVideoEvent)="nextVideo()" (prevVideoEvent)="prevVideo()">
            </app-video-player>
        </div>
      </div>
    </div>
  </div>