<div class="body">
  <header id="header">
    <div class="logo">
      <span class="icon fa-fire"></span>
    </div>
    <div class="content"></div>
  </header>

  <div class="col-md-6 col-md-offset-3 top-line">
    <h1 class="top-page">Login</h1>
    <br>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Account:</label>
            <input type="text" name="username" id="username" class="form-control" [(ngModel)]="account.username" #username="ngModel" placeholder="Username or Email" required />
            <div *ngIf="f.submitted && !username.valid" class="text-danger">Username is required</div>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" [(ngModel)]="account.password" #password="ngModel"  placeholder="Password" required />
            <div *ngIf="f.submitted && !username.valid" class="text-danger">Password is required</div>  
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-secondary">Login</button>
        </div>
    </form>

    <hr>

    <form>
      <h3> Don't have an account yet? Register Now! </h3>
      <button class="btn btn-secondary"><a routerLink="/register">Register</a></button>
      <br><br>
      <button class="btn btn-secondary"><a routerLink="/home">Go Back to Home</a></button>
    </form>
  </div>
</div>
