.form-control{
  background: linear-gradient(to right, black , darkgrey);
}

.top-line {
   border-top: 1px solid white;
 }

 h1 {
   margin-top: 2%;
   font-family: 'Cambria';
   text-align: center;
 }

.body {
  padding-top: 1%;
}
