i {
    align-content: center;
    vertical-align: middle;
}

/* .material-icons {
    margin-left: 1rem;
} */

.mdl-textfield__input {
    max-width: 85%;
    float: left;
    margin-right: 2%;
    font-family: 'Cambria';
}

.search-video-title-header {
    font-family: 'Cambria';
}

.search-bar-field {
    /* margin-bottom: 5rem; */
}