i {
    align-content: center;
    vertical-align: middle;
}


.submit {
  max-width: 2rem;
  float: left;
}

.mdl-textfield__input {
  max-width: 80%;
  float: left;
  margin-right: 2%;
  font-family: 'Cambria';
  background: linear-gradient(to bottom right, black , darkgrey);
}

.mdl-textfield__label {
  width: 2.75rem;
}

.search-video-title-header {
  /* font-family: 'Cambria'; */
  text-align: center;
}

.search-button {
  width: 8%;
}

.return-home {
  float: right;
}

.search-bar-field{
  margin-bottom: 2%;
}
