<h2 class="search-video-title-header">Search Videos</h2>
<form class="search-bar-field" [formGroup]="searchForm" (ngSubmit)="doSearch($event)">

    <div>
      <input class="mdl-textfield__input" placeholder="Search for the song" formControlName="query" type="text" id="query" autocomplete="off">
      <button class="search-button float-left" type="submit">
        <i class="material-icons">search</i>
      </button>
      <a routerLink="/landing"><button class="search-button return-home">
          <i class="material-icons">home</i>
      </button></a>
    </div>
</form>
