i {
    align-content: center;
    vertical-align: middle;
}

.return-home {
    /* margin-left: 1rem; */
    float:right;
}

.submit {
    max-width: 2rem;
}

.material-icons {
    /* max-width: 2rem; */
    /* margin-left: 1rem; */
}

.mdl-textfield__input {
    max-width: 60%;
    float: left;
    margin-right: 2%;
    font-family: 'Cambria';
}

.mdl-textfield__label {
    width: 2.75rem;
    /* float:left; */
}

.search-video-title-header {
    font-family: 'Cambria';
}

.search-bar-field {
    /* margin-bottom: 5rem; */
}